:root {
  --frame-color-border-default: #8055ff;
  --background-color-default: #459df5;
  --input-color-font-default: #000;
  --input-color-border-default: #459df5;
  --input-color-border-error: #f53152;
  --input-color-placeholder: #bad8f5;
  --input-background-color-lock: #bad8f5;
  --input-color-image-default: #459df5;
  --button-font-color-white: #fff;
  --button-font-color-black: #000;
  --button-shadow-light: #bad8f5;
  --button-shadow-dark: rgba(0, 0, 0, 0.2);

  --wrapper-color-border: #8055FF;
  --input-background-color: #fff;
  --input-color-border: #BAD8F5;
  --input-background-color-checked: #459DF5;
  --input-color-border-checked: #459DF5;
  --radio-background-color: #fff;
  --radio-color-border: #BAD8F5;
  --radio-color-text: #459DF5;
  --input-color-placeholder: #BAD8F5;
  --input-color-text: #000;
  --input-order-color-border: #459DF5;

  --button-font-color-normal: #FFF;
  --button-font-color-dark: #000;
  --button-shadow-normal: #BAD8F5;
  --button-shadow-dark: rgba(0, 0, 0, 0.2);
  --button-background-color: #459DF5;
  --button-empty-color: #459DF5;
}
.body {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
}
.frame {
  width: 352px;
  height: 400px;
  margin: 0 auto;
  border: 1px dashed var(--frame-color-border-default);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.iframe {
  border: 1px solid black;
  width: 100%;
  height: 410px;
}
